@font-face {
  font-family: 'Inter-UI';
  font-style: normal;
  src: url('./Inter-UI-Black.ttf');
}

@font-face {
  font-family: 'HarmonyOS-Sans';
  font-style: normal;
  src: url('./HarmonyOS_Sans_SC_Regular.ttf');
}
