/*
* @Author: JSON
* @Date:   2019-11-19 14:21:42
* @Last Modified by:   JSON
* @Last Modified time: 2019-12-11 16:22:34
*/

@charset "UTF-8";
@import "./app-variables";

html {
  overflow: hidden !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 100vh;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

// 防止拖动
img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

// 自定义滚动条样式
.cus-scroll {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-corner {
    background: #f6f6f6;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: #bfbfbf;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #999;
    }
  }
}

.view-container {
  overflow: auto;

  // height: calc(100vh - 110px);
  height: 100%;
  border-radius: 0.3125rem;
}

// 自定义表格的表头
.cus-table-th {
  font-size: 0.8rem !important;
  font-weight: bold !important;
  // color: #4e5d78 !important;
  // background-color: #f8faff !important;
}

// 自定义表格的单元格
.cus-table-td {
  font-size: 0.875rem !important;
}

// 毛玻璃效果
.glass-effect {
  backdrop-filter: blur(0.625rem);
  box-shadow: 0 0 1.875rem 0.625rem rgb(0 0 0 / 30%);
}
