$primary: #6e40c9;
$info: #1e90ff;
$success: #2edd4b;
$warning: #fc9607;
$error: #ff463f;

$ghost: #f8f8f8;

$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
