// src/css/quasar.variables.scss

$primary: #6e40c9;
$secondary: #26a69a;
$accent: #1e90ff;

$dark: #1d1d1d;
$dark-page: #3b3030;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #fc9607;
