// src/css/quasar.variables.scss

$primary: #6e40c9;
$secondary: #31ccec;
$accent: #00a8ff;
$positive: #2ed573;
$negative: #eb2f06;
$info: #00d2d3;
$warning: #fc9607;
$dark: #1d1d1d;
$dark-page: #3b3030;
