// 定义全局会使用到的样式变量

// 主题色
$themeColor: #8854d0;

// 顶部header高度
$topHeaderHeight: 3.125rem;

// 顶部header颜色
$topHeaderBgColor: #1f79bf;

// 顶部header字体颜色
$topHeaderTextColor: #fff;

// 菜单栏宽度
$siderBarWidth: 13.75rem;

// 菜单栏底色
// $siderBarBgColor: #4b7bec;
$siderBarBgColor: linear-gradient(to right, #2376b7, #2277ba, #2078bc, #1f79bf, #1a80ce);
// 菜单栏文字颜色
$siderBarColor: #f5f6fa;
// 菜单栏被选择的颜色
$siderBarMenuSelected: #0099cc;
