// 定义全局会使用到的样式变量

$themeColor: #8854d0;

// 菜单栏底色
// $siderBarBgColor: #4b7bec;
$siderBarBgColor: linear-gradient(to right, #2376b7, #2277ba, #2078bc, #1f79bf, #1a80ce);
// 菜单栏文字颜色
$siderBarColor: #f5f6fa;
// 菜单栏被选择的颜色
$siderBarMenuSelected: #0099cc;
